apiVersion: apps/v1
kind: Deployment
metadata:
  name: smart-devops-app
  namespace: smart-devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: smart-devops
  template:
    metadata:
      labels:
        app: smart-devops
    spec:
      containers:
        - name: app
          image: smart-devops-platform:latest
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
